/* contact CSS */

.contact-page-form {

    max-width: 510px;
    width: 100%;
    margin: 30px auto;
    background-color: #EDEFF1;
    position: relative;

    .contact-header {

        background-color: $primary-color;
        padding: 20px 15px;
        text-align: left;
        
    }
    
    .popup-close-btn {
        color: $white_color;
        position: absolute;
        font-size: 28px;
        top: -32px;
        right: -22px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.75;    
        }
    }


}

.inner-contact {
    margin: 0 auto;
    padding: 25px 8% 40px 8%;
    .contact-title {
        margin-bottom: 15px;

        .card_title {

            font-size: 28px;
            font-family: 'Gotham Book';
            font-weight: normal;

            &:first-letter {
                text-transform: uppercase;
            }
            
            span {
                text-transform: uppercase;
            }
        }
    }
}


.form-inner {

    .form_group {

        position: relative;
        margin-bottom: 5px;

        .label-input {

            position: absolute;
            color: #AAAAAA;
            font-size: 16px;
            display: inline-block;
            left: 20px;
            top: 15px;
            font-family: 'Gotham Book';
            font-weight: normal;
            opacity: 1;
            transition: all 0.2s ease;
            
        }

        .form-input {
            display: block;
            width: 100%;
            height: 50px;
            border: 1px solid $white_color;
            border-radius: 5px;
            background-color: $white_color;
            padding: 20px 20px;
            font-family: 'Gotham Book';
            font-weight: normal;
            color: #AAAAAA;
            font-size: 16px;
            &:focus {
               border-color: $primary-color;
                outline: none;
                box-shadow: none;
               
            }
        }
        
        .textarea-input {
            display: block;
            width: 100%;
            height: 168px;
            border: 1px solid $white_color;
            border-radius: 5px;
            background-color: $white_color;
            padding: 20px 20px;
            font-family: 'Gotham Book';
            font-weight: normal;
            color: #AAAAAA;
            font-size: 16px;
            
            &:focus {
                border-color: $primary-color;
                outline: none;
                box-shadow: none;
               
            }
        }
    }
    
    
    .has-value {
        
        .label-input {
            
            opacity: 0;
            visibility: hidden;
        }
        
    }
    
    .form_btn {
        
        text-align: center;
        
        .contact-btn {
            background-color: $black_color;
            color: $white_color;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;
            border: 0;
            width: 237px;
            height: 52px;
            text-align: center;
             border-radius: 26px;
            
            &:hover,
            &:focus {
                color: $primary-color
               
            }
        }
    }
    
    .form-footer {
        margin-bottom: 20px;
        
        p {
            color: #AAAAAA;
            font-size: 13px;
            font-family: 'Gotham Book';
            font-weight: normal;
        }
    }
    
    
    .error-caption {
        padding: 0 5px 0 15px; 
        margin-bottom: 30px;
        p {
           color: #FD2500; 
            margin-bottom: 15px;
            font-size: 16px;
            font-family: 'Gotham Book';
            font-weight: normal;
        }
    }
    
    .form-terms {
        background-color: $white_color;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        label {
            line-height: 24px;
            font-weight: 500;
            font-size: 16px;
        }
        
        .control-checkbox {
            margin-right: 8px;
        }
    }
    
    .form-recaptcha {
        margin-bottom: 25px;
        div {
            margin: 0 auto;
        }
    }
}


.contact-popup,  .espace-popup {
    
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: 0.4s ease;
    background: rgba(30, 35, 51, 0.88); 
}

.contact-popup.popup-visible,  .espace-popup.popup-visible{
    visibility: visible;
    opacity: 1;
}

.body-overlay {
    overflow: hidden;
}