/* Footer CSS */

.site-footer {
    padding: 70px 0;
}

.footer-logo {
    
    span {
        
        color: #AAAAAA;
        text-transform: uppercase;
        font-size: 26px;
        font-family: 'Eurodatacar 230107';
        display: inline-block;
        margin-left: 15px;
    }
}

.footer-link {
    ul {
        li {
            
            list-style: none;
            
            a {
                color: $black_color;
                font-size: 12px;
                font-weight: 300;
            }
        }
    }
}


.copyright-wrap {
    p{
        color: #707070;
    }
}