/* Header CSS */

.header-site {
    position: relative;
    padding-top: 108px;
    background: $dark_color;
    
    .header-top {
        position: absolute;
        width: 100%;
        top: 65px;
    }
}

 .logo_normal {
        
        display: none;
}

.fix-header {
    
    
    
    .header-content {
        left: 0;
        position: fixed;
        right: 0;
        top: -1px;
        width: 100%;
        z-index: 99;
        padding: 10px 0 10px;
        transition: all 0.1s ease-out;
        
        
    }
    
    .logo_normal {
        
        display: block;
    }
    
    
}
.header-content {
    background: $dark_color;
    padding: 20px 0 20px;
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    
    .header-logo {
        padding-left: 20px;
    }

    .main-navigation {
        padding-right: 15px;
    }
   
}

.navigation-menu {
    display: flex;
    margin-bottom: 0;

    li {

        list-style: none;
        margin-left: 25px;

        a {
            color: $white_color;
            display: block;
            font-size: 13px;
            line-height: 15px;
            padding: 4px 2px;
            font-family: 'Gotham Book';
            font-weight: normal;
            text-transform: uppercase;
            position: relative;
            @include transition();
            
            &:after{
                height: 1px;
                width: 100%;
                background-color: $primary-color;
                display: inline-block;
                content: ""; 
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                opacity: 0;
                @include transition();
                
                    
            }

            &:hover {
                color: $primary-color;
                text-decoration: none;
                
                &:after{
                 
                    opacity: 1;

                }
            }
        }
    }
}

.header-btn {
    margin-left: 25px;

    .btn-mespace {
        color: $white_color;
        font-size: 13px;
        font-family: 'Gotham Book';
        font-weight: normal;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid $white_color;
        border-radius: 30px;
        padding: 7px 15px 7px 40px;
        background-image: url(../img/lock.png);
        background-repeat: no-repeat;
        background-position:  15px center;
        @include transition();
        
         &:hover {
                color: $primary-color;
                
                
            }
        
    }
}

.second-header {
    
    display: flex;
    align-items: center;

    .custom-container {
        background: $primary-color;
 
        
        .second-menu {
            height: 90px;
            padding: 0 20px 0 15px;
            
        }
    }
    
    .header-logo {
        
        span {
            text-transform: uppercase;
            font-size: 26px;
            font-family: 'Eurodatacar 230107';
            display: inline-block;
            margin-left: 15px;
        }
    }
    .hotline-btn {
        
        position: relative;
        
        p{
            font-size: 10px;
            margin: 0;
            position: absolute;
            right: 22px;
            font-family: 'Gotham Book';
            font-weight: normal;
        }
    }

    .btn-hotline {
        display: inline-block;
        color: $dark_color;
        font-weight: bold;
        padding-left: 18px;
        border: 1px solid $black_color;
        text-decoration: none;
        border-radius: 30px;
        text-transform: uppercase;

        span {
            display: inline-block;
            padding: 4px 15px 4px 40px;
            background-color: $black_color;
            color: $white_color;
            border-radius: 0 30px 30px 0;
            margin-left: 12px;
            font-size: 24px;
            background-image: url(../img/phone.png);
            background-repeat: no-repeat;
            background-position:  15px center;
            background-size: 20px;
        }

        &:hover {
            
            text-decoration: none;
        }


    }
}


.mobile-header {
    
    background: $primary-color;
    
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    
    
    .header-wrapper {
        
        padding: 15px;
        position: relative;
        
        .mobile-nav-toggler {
        
            background: $black_color;
            width: 100px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    
    
    .hamburger-menu {
        cursor: pointer;
        .menu-line {
            height: 2px;
            width: 30px;
            margin: 8px auto;
            display: block;
            background-color: $white_color;
            transition: all .3s ease;
        }
    }
    
    
}


.offcanvas-content {
    
    position: fixed;
    max-width: 100%;
    top: 87px;
    bottom: 0;
    right: 100%;
    width: 100vw;
    z-index: 9999;
    background: $dark_color;
    transition: all .4s ease;
    
    
    .mobile-nav_container {
        height: 100%;
        
        .navigation-mobile {
            
            list-style:none;
            padding: 0;
            
            li {
                text-align: center;
                margin-bottom: 15px;
                
                a {
                    
                    color: $white_color;
                    text-transform: uppercase;
                    transition: all .3s ease;
                     &:hover {
            
                            text-decoration: none;
                            color: $primary-color;
                        }
                }
            
            }
        }
    }
}


.mobile-menu-visible {
    
    .offcanvas-content {
        right: 0;
        
    }
}