.single-hero {
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
}

.banner-content {
        
    max-width: 640px;
    margin: 0 auto;
    width: 100%; 
    
    .banner-title {
        color: $black_color;
        font-family: 'Eurodatacar 230107';
        text-transform: uppercase;
        max-width: 460px;
        display: inline-block;
        font-size: 26px;
        
        span {
            display: inline-block;
            padding: 7px 15px;
            background-color: $primary-color;
        }
    }
    
    p {
        text-transform: uppercase;
        color: $white_color;
        text-transform: uppercase;
        font-size: 26px;
        font-family: 'Eurodatacar 230107';
        
    }
}