.single-hero {
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 76vh;
    min-height: 490px;
}

.banner-content {
        
    max-width: 880px;
    margin: 0 auto;
    width: 100%; 
    padding: 30px 20px 0 25px;
    
    .banner-title {
        color: $black_color;
        font-family: 'Eurodatacar 230107';
        text-transform: uppercase;
        max-width: 500px;
        display: inline-block;
        font-size: 42px;
        line-height: 1;
        margin-bottom: 20px;
        
        span {
            display: inline-block;
            padding: 12px 20px 10px 20px;
            line-height: 1;
            background-color: $primary-color;
        }
    }
    
    p {
        text-transform: uppercase;
        color: $white_color;
        text-transform: uppercase;
        font-size: 42px;
        line-height: 1.2;
        padding-left: 20px;
        font-family: 'Eurodatacar 230107';
        
    }
}