// home Style

.brand-section {
    background-color: #EDEFF1;
    padding: 30px 0;
    min-height: 185px;
    
}

.situation_section {
    
    background-color: $black_color;
    padding: 20px 0;
    color: $white_color;
    
    
    .content-box {
        min-height: 135px;
        
        p {
            margin-bottom: 0;
        }
    }
}
.contact-section {
    
    padding: 90px 0; 
    
    .image_item {
        
        img {
            
            width: 100%;
            display: block;
            
        }
    }

}

.block-title {
    
    .sec_titles {
        
        text-transform: uppercase;
    }
}
.marquage-section {
     padding: 90px 0;
    
    .marquage-item {
        
        position: relative;
        
        .overlay-box {
            
            position: absolute;
            background-color: $primary-color;
            padding: 5px;
            left: 15px;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            
            
            
            .title_text {
                text-transform: uppercase;
                
            }
        }
    }
    .image-box {
        
        img {
            width: 100%;
            display: block;
            
        }
    }
}


.facts-section {
    
    background-color: #EDEFF1;
    padding: 20px;
}
