// home Style

.brand-section {
    background-color: #EDEFF1;
    padding: 30px 0;
    
    .container-fluid  {
        max-width: 980px;
    }

    .brand_item {
        
        padding: 15px;

        img {

            width: 100%;
        }
    }

}

.situation_section {

    background-color: $dark_color;
    padding: 15px 0;
    color: $white_color;


    .content-box {
        min-height: 105px;

        p {
            margin-bottom: 0;
            font-weight: 300;

        }
    }


    .data-hero-form {
        position: relative;

        .data-input {

            border-radius: 34px;
            background: $white_color;
            height: 46px;
            width: 237px;
            padding: 5px 64px 5px 20px;
            

            input {
                border: 0;
                width: 124px;
                line-height: 34px;
                height: 34px;
                font-family: 'Gotham Book';
                font-weight: normal;
                font-size: 20px;
                color: $black_color;

                &:focus {

                    outline: 0;
                }
            }
        }

        .data-btn {
            position: absolute;
            top: 4px;
            right: 4px;
            border: 0;
            padding: 0;
            background: none;
        }
    }
}

.contact-section {

    padding: 90px 0;

    .contact-item {
        padding: 0 20px 20px;
        //box-shadow: 0 5px 20px rgba(77, 91, 120, 0.6);
        // box-shadow: 0 10px 15px 0 rgba(37, 37, 37, 0.4);
        box-shadow: 0px 36px 37px 32px rgba(37, 37, 37, 0.1);
    }

    .image_item {

        img {

            width: 100%;
            display: block;

        }
    }

    .item_title {
        font-family: 'Gotham Book';
        font-weight: normal;
        font-size: 28px;
        margin-bottom: 20px;
    }

    .inner-content {


        p {
            font-weight: 500;
            font-size: 13px;
            min-height: 104px;
            margin: 0;
        }
    }


    .contact_btn {
        text-align: center;

        .b-btn-contact {
            text-decoration: none;
            font-weight: bold;
            font-family: 'Gotham';
            background-color: $black_color;
            color: $white_color;
            display: block;
            width: 100%;
            margin: 0 auto;
            padding: 10px;
            border-radius: 30px;
            text-transform: uppercase;
            transition: all 0.3s ease;


            &:hover {
                text-decoration: none;
                color: $primary-color;
            }
            
            i {
                margin-right: 20px;
            }
        }
    }
    .btn-group {
        
        font-weight: bold;
        font-family: 'Gotham';
        background-color: $black_color;
        color: $white_color;
        display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: 30px;
        text-transform: uppercase;
        transition: all 0.3s ease;
        height: 44px;
        
        span {
            font-size: 24px;
            border-left: 1px solid #8F8F8F;
            display: inline-block;
            padding: 2px 0 2px 45px; 
            margin-left: 20px;
            background-image: url(../img/phone.png);
            background-repeat: no-repeat;
            background-position:  15px center;
            background-size: 20px;
        }
        
    }
    .contact-bottom {
        font-family: 'Gotham';
        font-weight: 500;
        font-size: 13px;
        color: #707070;
    }

}

.block-title {

    margin-bottom: 30px;

    .sec_titles {

        text-transform: uppercase;
        font-family: 'Eurodatacar 230107';
        margin-bottom: 5px;
        font-size: 42px;
    }

    p {
        font-weight: normal;
        font-family: 'Gotham Book';

    }
}

.marquage-section {
    padding: 30px 0 90px 0;

    .marquage-item {

        position: relative;

        .overlay-box {

            position: absolute;
            background-color: $primary-color;
            padding: 5px 0;
            left: 12px;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.3s ease;


            .title_text {
                text-transform: uppercase;
                font-family: 'Eurodatacar 230107';
                color: $black_color;
                margin: 0;
                font-size: 42px;
                transition: all 0.3s ease;


            }
        }

        .image-box {

            img {
                width: 100%;
                display: block;
                transition: all 0.3s ease;

            }
        }


        &:hover {
            cursor: pointer;

            .overlay-box {

                background-color: $black_color;


                .title_text {
                    color: $primary-color;

                }
            }

            .image-box {

                img {
                    opacity: 0.6;
                }
            }

        }
    }


}


.facts-section {

    background-color: #EDEFF1;
    padding: 25px 0 10px 0;


    .facts-block {
        max-width: 183px;
        margin: 0 auto;

        .title_facts {

            font-size: 22px;
            font-weight: 500;
            line-height: 25px;
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            margin: 0;
            
            span {
                font-size: 9px;
            }
        }
    }

    .facts-image {

        margin-bottom: 20px;
    }
}
