$breakpoint-xl: 'only screen and (min-width:1200px)';

$breakpoint-lg: 'only screen and (min-width:992px) and (max-width:1199px)';

$breakpoint-md: 'only screen and (min-width:768px) and (max-width:991px)';

$breakpoint-sm: 'only screen and (min-width:576px) and (max-width:767px)';

$breakpoint-xs: 'only screen and (max-width:767px)';

$breakpoint-xs-landscape: 'only screen and (min-width:480px) and (max-width:767px)';


@media only screen and (max-width: 576px) {

    .facts-section {

        background-color: #EDEFF1;
        padding: 25px 0 0px 0;


        .facts-block {
            max-width: 100%;
            margin: 0 auto;

            .title_facts {

                font-size: 18px;
                font-weight: 500;
                line-height: 25px;
                margin-bottom: 0;
                text-align: left;
            }

            p {
                font-weight: 500;
                font-size: 13px;
                line-height: 15px;
                margin: 0;

                span {
                    font-size: 9px;
                }
            }
        }

        .facts-image {

            margin-bottom: 0;
            margin-right: 15px;
        }
    }

}
