.mixin {
    
    @include border-radius(4px);
}


.historique-slide {
    max-width: 680px;
    margin: 0 auto;
    position: relative;
    .historique-item {
        
        text-align: center;
        
        .slide-img {
            max-width: 480px;
            padding: 20px;
            margin: 20px auto;
            img {
                
                max-width: 100%;
                width: 100%;
            }
        }
        
        .historique-details {
            display: inline-block;
            font-size: 32px;
            background-color: $primary-color;
            color: $black_color;
            padding: 2px 4px ;
        }
        
        p {
            line-height: 25px;
            font-size: 16px;
        }
    }
    
    .slide-button {
        
        position: absolute;
        right: 15px;
        top: 46%;
        
        i {
            color: #EEEEEE;
            font-size: 36px;
        }
    }
    
    
}